@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box

$color-red: rgb(220, 0, 0)
$color-red-hover: rgb(222, 66, 66)

body
    position: relative
    overflow-x: hidden
    
.container
    position: relative
    max-width: 1218px
    margin: 0 auto

/* index.html */

.main-section
    min-height: 900px
    background-image: url(../images/index/bg-main.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-transform: uppercase
        text-align: center
        padding-top: 45px
        margin-bottom: 20px
    &__title2
        color: rgb(39, 39, 39)
        font-size: 26px
        font-weight: 700
        line-height: 32px
        text-align: center
        margin-bottom: 25px
    &__mini-wrapper
        margin-bottom: 37px
    &__block-stars
        display: flex
        align-items: center
        gap: 16px
        margin-bottom: 5px
    &__block-yandex
        display: flex
        align-items: center
        gap: 8px
    &__text5
        color: rgb(39, 39, 39)
        font-size: 26px
        font-weight: 700
        line-height: 32px
    &__text-stars
        color: rgb(94, 94, 94)
        font-size: 16px
        font-weight: 500
        line-height: 20px
    &__title3
        color: rgb(39, 39, 39)
        font-size: 32px
        font-weight: 700
        line-height: 39px
        margin-bottom: 34px
    &__li
        color: rgb(39, 39, 39)
        font-size: 26px
        font-weight: 500
        line-height: 32px
        margin-bottom: 20px
        &::before
            content: url(../icons/index/circle.svg)
            margin-right: 20px
    &__block-list
        display: flex
        gap: 47px
        margin-bottom: 20px
    &__btn
        border-radius: 51px
        box-shadow: inset 0px -4px 9.6px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-red
        border: none
        color: rgb(255, 255, 255)
        font-size: 20px
        font-weight: 700
        line-height: 24px
        padding: 19px 138px
        transition: .3s all
        &:hover
            background: $color-red-hover
            cursor: pointer
    &__bg-image
        padding-top: 60px
        display: block
        margin: 0 auto

.second-section
    min-height: 300px
    padding-top: 38px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 55px
        max-width: 708px
        display: block
        margin: 0 auto
        text-align: center
    &__wrapper
        margin-top: 47px
        display: flex
        flex-wrap: wrap
        gap: 23px
    &__card
        border-radius: 50px
        background: rgba(145, 216, 255, 0.13)
        height: 432px
    &__flex-title
        display: flex
        align-items: center
        gap: 8px
        margin-bottom: 20px
        padding: 32px 55px 0 27px
    &__mini-title
        color: rgb(0, 0, 0)
        font-size: 22px
        font-weight: 700
        line-height: 27px
        max-width: 226px
    &__text
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 400
        line-height: 24px
        max-width: 328px
        padding: 0 32px 0 32px

.third-section
    min-height: 100px
    background: rgb(241, 250, 255)
    margin-top: 56px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 55px
        text-align: center
        text-transform: uppercase
        padding-top: 43px
        margin-bottom: 44px
    &__wrapper
        display: flex
        /* gap: 22px */
        /* margin: 0 auto */
        padding-bottom: 96px
    &__img
        margin: 0 auto

.fourth-section
    min-height: 300px
    padding-top: 47px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 55px
        text-align: center
        text-transform: uppercase
        margin-bottom: 150px
    &__wrapper1
        display: flex
        gap: 34px
        margin-bottom: 96px
    &__block
        border-radius: 50px
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05)
        background: rgb(255, 255, 255)
        height: 394px
        position: relative
    &__name
        color: rgb(0, 0, 0)
        font-size: 40px
        font-weight: 700
        line-height: 49px
        padding: 49px 0 40px 50px
    &__text
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 400
        line-height: 24px
        padding: 0 25px 0 50px
    &__img
        position: absolute
        top: -90px
        left: 310px
    &__wrapper2
        display: flex
        gap: 35px
    &__block-video
        position: relative
    &__button-img
        position: absolute
        left: 200px
        bottom: 122px

.fifth-section
    min-height: 670px
    background-image: url(../images/index/bg-fifth.png)
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    margin-top: 96px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        padding-top: 69px
        margin-bottom: 72px
    &__wrapper
        display: flex
    &__block1
        margin-right: 86px
    &__container1
        display: flex
        gap: 15px
        margin-bottom: 60px
    &__container2
        display: flex
        gap: 15px
        margin-bottom: 60px
    &__margin
        margin-left: -10px
    &__text
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 500
        line-height: 29px
        max-width: 270px
    &__container3
        display: flex
        gap: 16px
    &__btn
        color: rgb(255, 255, 255)
        font-size: 20px
        font-weight: 700
        line-height: 24px
        box-shadow: inset 0px -4px 9.6px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-red
        border: none
        border-radius: 51px
        padding: 19px 56px
        transition: .3s all
        &:hover
            background: $color-red-hover
            cursor: pointer
    &__iframe
        border: 3px solid rgb(255, 255, 255)
        border-radius: 50px
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.08)
        width: 708px

/* blog.html */

.blog-section
    min-height: 1000px
    margin-top: 55px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 51px
    &__img1
        margin-bottom: 22px
    &__text1
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 22px
    &__text11
        background-image: url(../images/blog/bg-line.png)
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        height: 100px
        color: rgb(37, 85, 130)
        font-size: 24px
        font-weight: 600
        line-height: 155%
        text-align: center
        padding-top: 30px
        margin-bottom: 22px
    &__title2
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 55px
        text-align: center
        text-transform: uppercase
        margin-top: 10px
        margin-bottom: 47px
    &__form
        display: flex
        gap: 10px
    &__input1
        width: 400px
        height: 61px
        background: #FFFFFF
        border: 3px solid rgb(227, 227, 227)
        border-radius: 15px
        margin-bottom: 33px
        color: rgb(78, 70, 70)
        font-size: 14px
        font-weight: 300
        line-height: 17px
        padding: 19px 0 18px 24px
        &::placeholder
            color: rgb(176, 176, 176)
            font-size: 20px
            font-weight: 500
            line-height: 24px
    &__input2
        width: 400px
        height: 61px
        background: #FFFFFF
        border: 3px solid rgb(227, 227, 227)
        border-radius: 15px
        margin-bottom: 33px
        color: rgb(78, 70, 70)
        font-size: 14px
        font-weight: 300
        line-height: 17px
        padding: 19px 0 18px 24px
        &::placeholder
            color: rgb(176, 176, 176)
            font-size: 20px
            font-weight: 500
            line-height: 24px
    &__btn
        color: rgb(255, 255, 255)
        font-size: 20px
        font-weight: 700
        line-height: 24px
        box-shadow: inset 0px -4px 9.6px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-red
        border: none
        border-radius: 51px
        padding: 18px 138px
        transition: .3s all
        &:hover
            background: $color-red-hover
            cursor: pointer
    &__descr
        color: #B0B0B0
        font-size: 18px
        font-weight: 500
        line-height: 22px
        padding-bottom: 60px

#descr
    color: rgb(94, 94, 94)
    text-decoration: none
    &:hover
        text-decoration: underline

/* blog2.html */

.blog2-section
    min-height: 1000px
    margin-top: 55px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 51px
    &__img1
        margin-bottom: 22px
    &__text1
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 15px
    &__title2
        color: rgb(0, 0, 0)
        font-size: 36px
        font-weight: 600
        line-height: 155%
        margin-bottom: 11px
        text-align: center
    &__text2
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 30px
    &__h3
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 600
        line-height: 155%
        margin-bottom: 10px
    &__text3
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 43px
    &__wrapper
        display: flex
        margin-bottom: 40px
    &__block1
        margin-right: 30px
        position: relative
    &__block2
        position: relative
    &__img-skrepka
        position: absolute
        top: -10px
        left: 15px
    &__text-skrepka
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 600
        line-height: 155%
        text-align: center
        max-width: 530px
        border: 3px dashed rgb(220, 0, 0)
        border-radius: 50px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    &__margin1
        padding: 21px 82px
    &__margin2
        padding: 37px 50px
    &__text4
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 30px
    &__h4
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 600
        line-height: 155%
        margin-bottom: 11px
    &__text5
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 25px
    &__text-bg
        background-image: url(../images/blog2/bg-line.png)
        background-repeat: no-repeat
        background-position: center
        background-size: cover
        color: rgb(37, 85, 130)
        font-size: 24px
        font-weight: 600
        line-height: 155%
        text-align: center
        padding-top: 26px
        padding-bottom: 26px
        margin-bottom: 25px
        /* max-width: 644px */
    &__text6
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 36px
    &__text7
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        margin-bottom: 30px
    &__wrapper2
        position: relative
    &__text-wrapper
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 600
        line-height: 155%
        text-align: center
        border: 3px dashed rgb(220, 0, 0)
        border-radius: 50px
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        padding: 21px 0 21px 0
        margin-bottom: 34px
    &__img-skrepka2
        position: absolute
        top: -18px
        left: 28px
    &__title-last
        color: rgb(0, 0, 0)
        font-size: 40px
        font-weight: 600
        line-height: 49px
        text-align: center
        border-radius: 50px 50px 0px 0px
        background: rgb(236, 246, 255)
        padding: 38px 0 38px 0
    &__wrapper3-text
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 155%
        text-decoration: underline
        border: 3px solid rgb(236, 246, 255)
        padding: 37px 0 37px 39px
    &__wrapper3
        margin-bottom: 33px
    
#blog2-span__red
    color: rgb(220, 0, 0)
    text-decoration: underline

#blog2-dop__li
    font-size: 20px
    font-weight: 500
    line-height: 155%
    margin-bottom: 10px

#blog2-dop__ul
    margin-bottom: 60px

#last-border
    border-radius: 0 0 50px 50px

/* vacansy.html */

.vacansy-section
    min-height: 500px
    margin-top: 55px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 45px
    &__text
        color: rgb(0, 0, 0)
        font-size: 22px
        font-weight: 500
        line-height: 135%
        text-align: center
        margin-bottom: 59px
    &__wrapper
        display: flex
    &__wrapper-left
        margin-right: 40px
    &__descr
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 700
        line-height: 107.2%
        margin-bottom: 38px
    &__block-tel
        display: flex
        gap: 14px
        margin-bottom: 15px
    &__text-tel
        color: rgb(0, 0, 0)
        font-size: 25px
        font-weight: 500
        line-height: 31px
    &__block-ss
        display: flex
        gap: 15px

/* repetitor.html */

.repetitor-section
    min-height: 500px
    padding-top: 55px
    background: #ECF6FF
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 49px
    &__wrapper
        display: flex
        border-radius: 50px
        background: rgb(255, 255, 255)
        margin-bottom: 92px
    &__wrapper-right
        padding: 40px 117px 0 0
    &__img
        padding: 20px 0 118px 20px
        margin-right: 50px
    &__text1
        color: rgb(0, 0, 0)
        font-size: 40px
        font-weight: 700
        line-height: 49px
    &__text2
        color: rgb(37, 85, 130)
        font-size: 32px
        font-weight: 700
        line-height: 39px
    &__text3
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 600
        line-height: 29px
        margin-bottom: 13px
    &__li
        display: flex
        align-items: center
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 24px
        margin-bottom: 29px
        &::before
            content: url(../icons/repetitor/line_li.svg)
            margin-right: 20px
    &__btn
        border-radius: 51px
        border: none
        box-shadow: inset 0px -4px 9.6px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-red
        padding: 15px 29px
        color: rgb(255, 255, 255)
        font-size: 18px
        font-weight: 600
        line-height: 22px
        transition: .3s all
        &:hover
            background: $color-red-hover
            cursor: pointer

#repetitor-dop__ul
    margin-bottom: 20px

/* our-results.html */

.results-section
    min-height: 500px
    padding-top: 55px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 30px
    &__img
        max-width: 100%
    &__text
        font-size: 28px
        font-weight: 600
        line-height: 34px
        margin-top: 20px
        margin-bottom: 74px

#red
    color: $color-red

/* detailed.html */

.detailed-section
    min-height: 500px
    padding-top: 55px
    &__title
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
        margin-bottom: 35px
    &__text1
        color: rgb(0, 0, 0)
        font-size: 22px
        font-weight: 500
        line-height: 136%
        text-align: center
        margin-bottom: 44px
    &__text2
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 700
        line-height: 107.2%
        text-align: center
        margin-bottom: 53px
    &__wrapper1
        display: flex
        margin-bottom: 126px
    &__wrapper1-left
        margin-right: 24px
    &__wrapper2
        display: flex
        margin-bottom: 55px
    &__wrapper2-left
        margin-right: 24px

.blogex-section
    min-height: 900px
    padding-top: 55px
    background: #ECF6FF
    &__title
        margin-bottom: 55px
        color: rgb(37, 85, 130)
        font-size: 45px
        font-weight: 800
        line-height: 107.2%
        text-align: center
        text-transform: uppercase
    &__wrapper
        display: grid
        grid-template-columns: repeat(auto-fill, 585px)
        gap: 48px
        margin-bottom: 46px
    &__card
        border-radius: 50px
        background: rgb(255, 255, 255)
        width: 586px
        height: 720px
    &__text1
        margin-top: 30px
        margin-bottom: 22px
        color: rgb(0, 0, 0)
        font-size: 24px
        font-weight: 600
        line-height: 29px
        text-align: center
    &__text2
        color: rgb(0, 0, 0)
        font-size: 20px
        font-weight: 500
        line-height: 24px
        max-width: 500px
        text-align: center
        padding: 0 0 26px 100px
    &__btn
        display: block
        margin: 0 auto
        color: rgb(255, 255, 255)
        font-size: 18px
        font-weight: 600
        line-height: 22px
        border-radius: 51px
        border: none
        padding: 15px 15px
        box-shadow: inset 0px -4px 9.6px 0px rgba(0, 0, 0, 0.25),0px 4px 4px 0px rgba(0, 0, 0, 0.25)
        background: $color-red
        transition: .3s all
        &:hover
            background: $color-red-hover
            cursor: pointer




/* adaptives */

@media (max-width: 1290px)
    /* index.html */
    .main-section
        width: 123%
    .main-section__bg-image
        max-width: 900px
        min-height: 500px
    .second-section__wrapper
        justify-content: space-around
    .third-section__wrapper
        display: grid
    .third-section__img
        padding-bottom: 20px
    .third-section__img22
        margin: 0 auto
        padding-bottom: 20px
    .fourth-section__wrapper1
        display: grid
        gap: 80px
    .fourth-section__wrapper2
        display: grid
    .fifth-section__wrapper
        display: grid
    .fifth-section__block1
        margin-right: 0
        margin-bottom: 24px
    /* blog.html */
    .blog-section__img1
        width: 100%

@media (max-width: 1211px)
    /* blog-exams.html */
    .blogex-section
        padding-left: 23px
        padding-right: 23px

@media (max-width: 991px)
    /* index.html */
    .main-section
        padding-left: 23px
    .main-section__bg-image
        padding-left: 23px
    .second-section
        padding-left: 23px
    .fourth-section
        padding-left: 23px
    .fifth-section__block1
        padding-left: 23px
    .fifth-section__iframe
        max-width: 708px
    /* blog.html */
    .blog-section
        padding-left: 23px
        padding-right: 23px
    .blog-section__form
        display: block
        text-align: center
    /* blog-exams.html */
    .blogex-section__wrapper
        justify-content: center

@media (max-width: 681px)
    /* index.html */
    .main-section
        background-position: 78% 10%
    .main-section__title
        margin-bottom: 7px
        font-size: 21px
        font-weight: 800
        line-height: 107.2%
    .main-section__title2
        margin-bottom: 10px
        font-size: 8px
        font-weight: 700
        line-height: 10px
    .main-section__mini-wrapper
        margin-bottom: 15px
    .main-section__yandex
        width: 16px
    .main-section__text5
        font-size: 12px
        font-weight: 700
        line-height: 14px
    .main-section__block-stars
        gap: 8px
    .main-section__stars
        width: 93px
        height: 20px
    .main-section__text-stars
        font-size: 8px
        font-weight: 500
        line-height: 10px
    .main-section__title3
        font-size: 16px
        font-weight: 700
        line-height: 20px
        margin-bottom: 20px
    .main-section__li
        font-size: 13px
        font-weight: 500
        line-height: 16px
        margin-bottom: 15px
        &::before
            margin-right: 10px
    .main-section__btn
        border-radius: 25.68px
        box-shadow: inset 0px -2.01px 4.83px 0px rgba(0, 0, 0, 0.25),0px 2.01px 2.01px 0px rgba(0, 0, 0, 0.25)
        font-size: 13px
        font-weight: 700
        line-height: 16px
        padding: 8px 60px
    .main-section__bg-image
        max-width: 333px
        min-height: 177px
        padding-top: 20px
    .second-section__title
        font-size: 21px
        font-weight: 800
        line-height: 26px
        padding-top: 50px
    .second-section__mini-title
        font-size: 18px
        font-weight: 700
        line-height: 22px
    .second-section__text
        font-size: 15px
        font-weight: 400
        line-height: 18px
    .second-section__card
        height: 343px
    .second-section__wrapper
        margin-top: 15px
    .third-section__title
        font-size: 21px
        font-weight: 800
        line-height: 26px
        padding-top: 15px
        margin-bottom: 15px
    .fourth-section__title
        font-size: 21px
        font-weight: 800
        line-height: 26px
        margin-bottom: 64px
    .fourth-section__img
        width: 128px
        top: -55px
        left: 300px
    .fourth-section__name
        font-size: 21px
        font-weight: 700
        line-height: 26px
        padding: 20px 0 18px 27px
    .fourth-section__text
        font-size: 13px
        font-weight: 400
        line-height: 16px
        padding: 0 13px 0 27px
    .fourth-section__block
        height: 207px
    .fourth-section__img2
        max-width: 313px
    .fourth-section__button-img
        left: 100px
        bottom: 60px
        width: 122px
    .fifth-section
        background: none
    .fifth-section__title
        font-size: 21px
        font-weight: 800
        line-height: 107.2%
        padding-top: 0
        margin-bottom: 18px
    .fifth-section__text
        font-size: 13px
        font-weight: 500
        line-height: 16px
    .fifth-section__container1
        margin-bottom: 22px
        align-items: center
        gap: 11px
    .fifth-section__container2
        margin-bottom: 24px
        align-items: center
        gap: 11px
    .fifth-section__btn
        font-size: 15px
        font-weight: 700
        line-height: 18px
        padding: 12px 38px
        border-radius: 36.61px
        box-shadow: inset 0px -2.87px 6.89px 0px rgba(0, 0, 0, 0.25),0px 2.87px 2.87px 0px rgba(0, 0, 0, 0.25)
    .fifth-section__container3
        margin-bottom: 24px
    /* blog.html */
    .blog-section__title
        font-size: 21px
        font-weight: 800
        line-height: 107.2%
        margin-bottom: 25px
    .blog-section__text1
        font-size: 11px
        font-weight: 500
        line-height: 155%
    .blog-section__text11
        font-size: 11px
        font-weight: 600
        line-height: 155%
        height: 80px
    .blog-section__title2
        font-size: 21px
        font-weight: 800
        line-height: 107.2%
        margin-bottom: 25px
    .blog-section__input1
        width: 200px
        height: 30px
        background: #FFFFFF
        border: 1px solid rgb(227, 227, 227)
        border-radius: 10px
        margin-bottom: 15px
        color: rgb(78, 70, 70)
        font-size: 12px
        font-weight: 300
        line-height: 17px
        padding: 19px 0 18px 24px
        &::placeholder
            color: rgb(176, 176, 176)
            font-size: 16px
            font-weight: 500
            line-height: 24px
    .blog-section__input2
        width: 200px
        height: 30px
        background: #FFFFFF
        border: 1px solid rgb(227, 227, 227)
        border-radius: 10px
        margin-bottom: 15px
        color: rgb(78, 70, 70)
        font-size: 12px
        font-weight: 300
        line-height: 17px
        padding: 19px 0 18px 24px
        &::placeholder
            color: rgb(176, 176, 176)
            font-size: 16px
            font-weight: 500
            line-height: 24px
    .blog-section__btn
        font-size: 15px
        font-weight: 700
        line-height: 19px
        padding: 14px 61px
    .blog-section__descr
        font-size: 11px
        font-weight: 500
        line-height: 13px
        text-align: center
        text-align: center
        display: block
        margin: 0 auto
        max-width: 200px
        padding-top: 10px
    /* blog-exams.html */
    .blogex-section
        padding-top: 25px
    .blogex-section__title
        font-size: 21px
        font-weight: 800
        line-height: 107.2%
        margin-bottom: 25px
    .blogex-section__img
        width: 313px
        height: 176px
    .blogex-section__wrapper
        display: block
    .blogex-section__card
        width: 313px
        height: 384px
        margin-bottom: 10px
    .blogex-section__text1
        font-size: 13px
        font-weight: 600
        line-height: 16px
        margin-top: 16px
        margin-bottom: 10px
    .blogex-section__text2
        font-size: 11px
        font-weight: 500
        line-height: 13px
        padding: 0 22px 12px 22px
    .blogex-section__btn
        font-size: 10px
        font-weight: 600
        line-height: 12px
        padding: 8px 8px



