@import "normalizes.scss"
@import "resets.scss"

*
    box-sizing: border-box

$color-blue: #4B9EFF
$color-blue-hover: linear-gradient(141.15deg, rgba(169, 138, 213, 0) 0.766%,rgba(42, 14, 82, 0.64) 119.459%)
$color-blue-active: linear-gradient(141.15deg, rgba(29, 21, 44, 0) 0.766%,rgba(29, 19, 43, 0.64) 119.459%)

body
    position: relative
    overflow-x: hidden
    background: #FBFBFB
    
.container
    position: relative
    max-width: 1268px
    margin: 0 auto

.header
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 15px
    &__ul
        display: flex
        align-items: center
    &__link
        margin-right: 70px
        color: rgb(138, 138, 138)
        font-size: 14px
        font-weight: 300
        line-height: 100%
        text-decoration: none
        &:hover
            text-decoration: underline
    &__text1
        color: rgb(30, 30, 30)
        font-size: 18px
        font-weight: 400
        line-height: 100%
        margin-bottom: 6px
    &__text2
        color: rgb(138, 138, 138)
        font-size: 12px
        font-weight: 300
        line-height: 100%
        text-align: end

.main-section
    margin-top: 66px
    margin-bottom: 100px
    &__wrapper
        display: flex
        position: relative
        align-items: center
    &__wrapper-left
        margin-right: 12px
    &__title
        color: rgb(39, 39, 39)
        font-size: 75px
        font-weight: 200
        line-height: 100%
        margin-bottom: 22px
    &__text
        color: rgb(138, 138, 138)
        font-size: 18px
        font-weight: 300
        line-height: 140%
        margin-bottom: 40px
    &__btn
        border-radius: 5px;
        border: none
        padding: 17px 33px
        box-shadow: 0px 16px 19px 0px rgba(85, 0, 87, 0.1)
        background: rgb(133, 4, 94)
        color: rgb(255, 255, 255)
        font-size: 12px
        font-weight: 700
        line-height: 100%
        transition: .3s all
        &:hover
            background: rgb(166, 20, 122)
            cursor: pointer
    &__img

#blue
    color: rgb(133, 4, 94)

.second-section
    margin-bottom: 124px
    &__title
        color: rgb(39, 39, 39)
        font-size: 50px
        font-weight: 200
        line-height: 100%
        margin-bottom: 50px
        text-align: center
    &__wrapper
        display: flex
        gap: 16px
        flex-wrap: wrap
    &__card
        margin-bottom: 30px
    &__card img
        border-radius: 5px
        margin-bottom: 30px
    &__text1
        text-align: center
        color: rgb(39, 39, 39)
        font-size: 18px
        font-weight: 400
        line-height: 100%
        margin-bottom: 15px
    &__text2
        text-align: center
        color: rgb(138, 138, 138)
        font-size: 18px
        font-weight: 300
        line-height: 140%

.third-section
    margin-bottom: 100px
    &__wrapper
        display: flex
    &__img
        margin-right: 78px
        border-radius: 5px
    &__title
        color: rgb(39, 39, 39)
        font-size: 50px
        font-weight: 200
        line-height: 100%
        margin-bottom: 50px
        margin-top: 0
    &__text
        color: rgb(138, 138, 138)
        font-size: 15px
        font-weight: 400
        line-height: 25px

.fifth-section
    margin-bottom: 90px
    &__title
        color: rgb(39, 39, 39)
        font-size: 50px
        font-weight: 200
        line-height: 100%
        margin-bottom: 33px
        text-align: center
    &__wrapper
        display: flex
        gap: 20px
        flex-wrap: wrap
    &__card
        margin-bottom: 30px
    &__card img
        border-radius: 10px
        margin-bottom: 30px
    &__text1
        text-align: center
        color: rgb(39, 39, 39)
        font-size: 18px
        font-weight: 400
        line-height: 100%
        margin-bottom: 15px
    &__text2
        text-align: center
        color: rgb(138, 138, 138)
        font-size: 18px
        font-weight: 300
        line-height: 140%

.sixth-section
    margin-bottom: 140px
    &__title
        color: rgb(39, 39, 39)
        font-size: 50px
        font-weight: 200
        line-height: 100%
        margin-bottom: 45px
    &__text1
        color: rgb(138, 138, 138)
        font-size: 18px
        font-weight: 300
        line-height: 140%
        margin-bottom: 5px
    &__text2
        color: rgb(0, 0, 0)
        font-size: 18px
        font-weight: 300
        line-height: 140%
    &__block1
        margin-bottom: 30px
    &__block2
        margin-bottom: 45px
    &__wrapper
        display: flex
    &__wrapper-left
        margin-right: 61px
    &__iframe
        border-radius: 5px

.footer-section
    background: #2E2929
    &__cont
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 15px
        padding-bottom: 15px
    &__block-tel
        display: flex
        align-items: center
        gap: 10px
    &__block
        display: flex
        align-items: center
        gap: 30px
    &__text
        color: rgb(255, 255, 255)
        font-size: 15px
        font-weight: 400
        line-height: 100%

@media (max-width: 1250px)
    .container
        padding-left: 10px
        padding-right: 10px
    .main-section__wrapper
        display: block
    .main-section__wrapper-left
        margin-right: 0
    .main-section__img
        display: block
        margin: 0 auto
    .main-section__title
        text-align: center
        font-size: 65px
    .main-section__text
        text-align: center
    .main-btn
        display: block
        margin: 0 auto
    .second-section__wrapper
        justify-content: space-evenly
    .third-section__wrapper
        display: block
    .third-section__img
        display: block
        margin: 0 auto
    .third-section__title
        text-align: center
        margin-top: 10px
    .fifth-section__wrapper
        justify-content: space-evenly
    .sixth-section__wrapper
        display: block
    .sixth-section__wrapper-left
        margin-right: 0
    .sixth-section__title
        text-align: center
    .sixth-section__text1
        text-align: center
    .sixth-section__text2
        text-align: center
    .sixth-btn
        display: block
        margin: 0 auto
    .sixth-section__wrapper-right
        margin-top: 20px
    .sixth-section__iframe
        display: block
        margin: 0 auto
