* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #FBFBFB;
}

.container {
  position: relative;
  max-width: 1268px;
  margin: 0 auto;
}

.main-section {
  margin-top: 66px;
  margin-bottom: 100px;
}

.main-section__wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.main-section__wrapper-left {
  margin-right: 12px;
}

.main-section__title {
  color: #272727;
  font-size: 75px;
  font-weight: 200;
  line-height: 100%;
}

.main-section__text {
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}

.main-section__btn {
  border-radius: 5px;
  border: none;
  padding: 17px 33px;
  box-shadow: 0px 16px 19px 0px rgba(85, 0, 87, 0.1);
  background: #85045e;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  transition: .3s all;
}

.main-section__btn:hover {
  background: #a6147a;
  cursor: pointer;
}

#blue {
  color: #85045e;
}

.second-section {
  margin-bottom: 124px;
}

.second-section__title {
  color: #272727;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.second-section__wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.second-section__card {
  margin-bottom: 30px;
}

.second-section__card img {
  border-radius: 5px;
}

.second-section__text1 {
  text-align: center;
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.second-section__text2 {
  text-align: center;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}

.third-section {
  margin-bottom: 100px;
}

.third-section__wrapper {
  display: flex;
}

.third-section__img {
  margin-right: 78px;
  border-radius: 5px;
}

.third-section__title {
  color: #272727;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  margin-bottom: 50px;
  margin-top: 0;
}

.third-section__text {
  color: #8a8a8a;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}

.fifth-section {
  margin-bottom: 90px;
}

.fifth-section__title {
  color: #272727;
  font-size: 50px;
  font-weight: 200;
  line-height: 100%;
  margin-bottom: 33px;
  text-align: center;
}

.fifth-section__wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.fifth-section__card {
  margin-bottom: 30px;
}

.fifth-section__card img {
  border-radius: 10px;
}

.fifth-section__text1 {
  text-align: center;
  color: #272727;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.fifth-section__text2 {
  text-align: center;
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}
