* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  background: #FBFBFB;
}

.container {
  position: relative;
  max-width: 1268px;
  margin: 0 auto;
}

.main-section {
  margin-top: 66px;
  margin-bottom: 100px;
}

.main-section__wrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.main-section__wrapper-left {
  margin-right: 12px;
}

.main-section__title {
  color: #272727;
  font-size: 75px;
  font-weight: 200;
  line-height: 100%;
}

.main-section__text {
  color: #8a8a8a;
  font-size: 18px;
  font-weight: 300;
  line-height: 140%;
}

.main-section__btn {
  border-radius: 5px;
  border: none;
  padding: 17px 33px;
  box-shadow: 0px 16px 19px 0px rgba(85, 0, 87, 0.1);
  background: #85045e;
  color: white;
  font-size: 12px;
  font-weight: 700;
  line-height: 100%;
  transition: .3s all;
}

.main-section__btn:hover {
  background: #a6147a;
  cursor: pointer;
}

#blue {
  color: #85045e;
}
