*
    box-sizing: border-box

$color-blue: #4B9EFF
$color-orange: #e7b28c

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Medium.ttf)
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Regular.ttf)
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Light.ttf)
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Semibold.ttf)
    font-weight: 600
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Inter'
    src: url(../fonts/Inter-Bold.ttf)
    font-weight: 700
    font-style: normal
    font-display: swap

html
    font-family: 'Inter', sans-serif
    font-weight: 500

body
    position: relative
    overflow-x: hidden
    
.container
    position: relative
    max-width: 1440px
    margin: 0 auto

.banner
    background: rgb(29, 46, 137)
    margin-top: 24px
    width: 100%
    min-height: 300px
    display: grid
    grid-template-columns: 5fr 2fr 2fr 1fr
    margin-bottom: 80px
    &__title
        color: rgb(255, 255, 255)
        font-size: 70px
        font-weight: 500
        line-height: 86px
        padding-left: 240px
        max-width: 960px
        font-family: 'Inter', sans-serif
    &__img1
        margin-top: 80px
    &__img2
        margin-top: 55px
    &__btn
        color: rgb(29, 46, 137)
        font-size: 16px
        font-weight: 500
        line-height: 100%
        padding: 16px 32px
        margin: 0 auto
        transform: translate(0px, 125px)
        width: 198px
        height: 48px
        border-radius: 12px 6px 12px 6px
        background: rgb(255, 255, 255)
        border: none
        transition: all 0.2s ease-out
        &:hover
            background: rgb(29, 46, 137)
            color: rgb(255, 255, 255)
            border: 1px solid rgb(255, 255, 255)
            cursor: pointer
            padding: 15px 31px

.aboutsome-section
    margin-bottom: 80px
    &__title
        color: rgb(31, 41, 55)
        font-size: 36px
        font-weight: 700
        line-height: 110%
        margin-bottom: 48px
    &__block
        display: flex
    &__flex
        display: flex
        justify-content: space-between
    &__card
        border: 1px solid rgb(219, 222, 226)
        border-radius: 24px 12px 24px 12px
        background: rgb(255, 255, 255)
        margin-right: 24px
        width: 100%
        &:last-child
            margin-right: 0
    &__icon
        padding: 16px 16px 4px 0
    &__text
        color: rgb(31, 41, 55)
        font-size: 16px
        font-weight: 400
        line-height: 150%
        padding: 0 38px 38px 38px
        margin-bottom: 0

.moment-section
    margin-bottom: 120px
    &__title
        color: rgb(31, 41, 55)
        font-size: 36px
        font-weight: 700
        line-height: 110%
        margin-bottom: 48px
    &__block
        display: flex
    &__flex
        display: flex
        justify-content: space-between
    &__card
        border: 1px solid rgb(219, 222, 226)
        border-radius: 24px 12px 24px 12px
        background: rgb(255, 255, 255)
        margin-right: 24px
        width: 100%
        min-height: 280px
        &:last-child
            margin-right: 0
    &__text
        color: rgb(69, 81, 99)
        font-size: 24px
        font-weight: 700
        line-height: 120%
        margin-top: 36px
        padding-left: 38px
        padding-right: 15px
    &__img
        padding-right: 20px
    &__imgc
        width: 252px
        height: 181px

.team-section
    margin-bottom: 128px
    &__title
        color: rgb(31, 41, 55)
        font-size: 36px
        font-weight: 700
        line-height: 110%
        margin-bottom: 48px
    &__block
        display: flex
        margin-bottom: 24px
    &__flex
        display: flex
        justify-content: space-between
    &__card
        border: 1px solid rgb(219, 222, 226)
        border-radius: 24px 12px 24px 12px
        background: rgb(255, 255, 255)
        margin-right: 24px
        width: 100%
        min-height: 200px
        transition: background-color 0.3s
        &:last-child
            margin-right: 0
        &:hover
            cursor: pointer
    &__text1
        color: rgb(69, 81, 99)
        font-size: 24px
        font-weight: 700
        line-height: 120%
        padding-left: 30px
    &__text2
        color: rgb(69, 81, 99)
        font-size: 16px
        font-weight: 600
        line-height: 150%
        padding-left: 30px
    &__ul
        padding-left: 30px
        padding-right: 50px
    &__li
        list-style-type: none
        color: rgb(69, 81, 99)
        font-size: 16px
        font-weight: 400
        line-height: 150%
    &__icon
        padding: 16px 16px 0 0
        flex-shrink: 0
    &__btn
        flex-shrink: 0
        border-radius: 12px 6px 12px 6px
        border: none
        background: rgb(54, 169, 225)
        color: rgb(255, 255, 255)
        font-size: 16px
        font-weight: 500
        line-height: 100%
        width: 281px
        height: 48px
        margin: 16px 16px 0 0
        transition: all 0.2s ease-out
        &:hover
            background: rgb(255, 255, 255)
            border: 1px solid rgb(54, 169, 225)
            color: rgb(54, 169, 225)
            cursor: pointer

.banner2-section
    margin-bottom: 120px
    background: url(../images/bg.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    border-radius: 36px 18px 36px 18px
    min-height: 328px
    &__block
        display: flex
    &__text1
        color: rgb(181, 185, 191)
        font-size: 24px
        font-weight: 400
        line-height: 120%
        padding: 44px 0 0 68px
        max-width: 532px
        margin-right: 60px
    &__text2
        color: #FFFFFF
        font-size: 32px
        font-weight: 600
        line-height: 150%
        margin-left: 68px
        padding-right: 68px
        padding-top: 27px
    &__vertical
        border-left: 2px solid rgb(69, 81, 99)
        height: 200px
        margin-top: 68px

#blue
    color: #36A9E1
            