*
    box-sizing: border-box

$color-blue: #4B9EFF
$color-orange: #e7b28c

@font-face
    font-family: 'Suiss'
    src: url(../fonts/Inter-Medium.ttf)
    font-weight: 500
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Suiss'
    src: url(../fonts/Inter-Regular.ttf)
    font-weight: 400
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Suiss'
    src: url(../fonts/Inter-Light.ttf)
    font-weight: 300
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Suiss'
    src: url(../fonts/Inter-Semibold.ttf)
    font-weight: 600
    font-style: normal
    font-display: swap

@font-face
    font-family: 'Suiss'
    src: url(../fonts/Inter-Bold.ttf)
    font-weight: 700
    font-style: normal
    font-display: swap

body
    position: relative
    overflow-x: hidden
    
.container
    position: relative
    max-width: 1440px
    margin: 0 auto

.banner
    background: rgb(29, 46, 137)
    margin-top: 24px
    width: 100%
    min-height: 300px
    display: grid
    grid-template-columns: 4fr 2fr 2fr 1fr
    &__title
        color: rgb(255, 255, 255)
        font-size: 71px
        font-weight: 500
        line-height: 86px
        padding-left: 240px
        max-width: 960px
        font-family: 'Inter', sans-serif
    &__img1
        margin-top: 80px
    &__img2
        margin-top: 55px
    &__btn
        color: rgb(29, 46, 137)
        font-size: 16px
        font-weight: 500
        line-height: 100%
        padding: 16px 32px
        margin: 0 auto
        transform: translate(0px, 125px)
        width: 198px
        height: 48px
        border-radius: 12px 6px 12px 6px
        background: rgb(255, 255, 255)
        border: none
        transition: all 0.2s ease-out
        &:hover
            background: rgb(29, 46, 137)
            color: rgb(255, 255, 255)
            border: 1px solid rgb(255, 255, 255)
            cursor: pointer
            padding: 15px 31px

/* .main-section
    min-height: 1080px
    background: #1D4ED8
    margin-top: 21px */