.analogs {
    padding-bottom: 60px;
}


@media (max-width: 540px) {
    .analogs {
        padding-bottom: 30px;
	}
}

.analogs__title {
    font-weight: 500;
    font-size: 28px;
    line-height: 100%;
    color: #1F2937;
    padding-bottom: 42px;
}

@media (max-width: 540px) {
    .analogs__title {
        font-size: 20px;
	}
}