.autocomplete2 {
    /*
    width:100% !important;
    
    position: absolute !important;
    right: 257px !important;
    
    top: 100% !important;
    left: 0 !important;
    */
    background: #FFFFFF !important;
    border: 1px solid #DBDEE2 !important;
	border-radius: 12px 6px !important;
    box-sizing: border-box !important;
    overflow: hidden !important;
    margin-top: -1px !important;
    z-index: 999999 !important;
    }
    
    .autocomplete2-item {
    cursor: pointer  !important;
    padding-left: 9px  !important;
    padding-top: 10px!important;
    height: 58px  !important;
    line-height: 38px  !important;
    z-index: 9999999  !important;
    color: #1F2937 !important;
    font-family: "Inter", sans-serif;
    }
    .autocomplete2-item {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    display: block;
    width: 100%;
    }
    .autocomplete2-item em {
    font-size: 14px;
    color: #1F2937;
    }
    .autocomplete2-item:hover em {
    color: #1F2937!important;
    }
    
    .autocomplete2-item:hover em {
    color: #1F2937!important;
    }
    .autocomplete2-empty {
    font-size: 12px !important;
    padding: 8px 10px 8px  9px !important;
    color:#1F2937!important;
    }