.change-password {
    width: 422px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 50px 20px 0px 20px;
    margin-left: 66px;
    position: absolute;
    z-index: 99;
}

.change-password__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.change-password__close  svg{
	display: block;
	fill: #B5B9BF;
	width: 14px;
	height: 14px;
}

.change-password__close:hover svg{
	fill:  #36A9E1;
}

.change-password__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: -10;
}
    
.change-password__content {
    z-index: 1;
}

.change-password-button {
    display: flex;
    justify-content: flex-end;
}

.change-password-button .button-default {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    width: 165px;
}

.change-password__content .form-input {
    flex-grow: 0;
}

.change-password__content .requisites__form-wrapper{
    justify-content: space-between;
}

.change-password__content .requisites__form-name{
    width: 190px;
}