.client {
    background-color: #fff;
    padding-bottom: 0px;
    margin-bottom: 100px;
}

.client__edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.client__table {
    padding-bottom: 50px;
    padding-top: 30px;
}

.client__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 120%;
    color: #333333;
}

.client__title--detalpage {
    padding-bottom: 30px;
}

.client__total {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 57px;
}

.client__total-text {
	padding-right: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #001233;
}

.client__total-price {
	font-weight: 600;
    font-size: 18px;
    line-height: 120%;
	color: #36A9E1;
}

.client__orders {
    width: 1072px;
}

.client__orders-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 110%;
    color: #333333;
    padding-bottom: 40px;
}

.client__orders-content {
    background-color: #fff;
}

.client__orders-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.client__edit-popup {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.client__edit-popup:hover .button-blue-edit{
    color: #000;
}

.client__edit-popup svg {
    fill: #36A9E1;
}

.client__edit-popup:hover svg {
    fill: #000;
}