.contacts {
	position: relative;
	color: #333333;
	padding-top: 50px;
	padding-bottom: 50px;
}

.contacts h4 {
	color: #455163;
	font-weight: 500;
	font-size: 28px;
	margin-bottom: 40px;
}

@media (max-width: 540px) {
	.contacts {
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

.contacts__container {
	display: flex;
	gap: 40px;
	padding-bottom: 70px;
}


@media (max-width: 540px) {
	.contacts__container {
		flex-direction: column;
		justify-content: center;
	}
}

.contacts__wrap {
	border: 1px solid #DBDEE2;	
	border-radius: 20px;
	padding: 40px;
	width: 50%;
}

.contacts__address {
	width: 50%;
}

.contacts__address iframe {
	width: 100%;
}

.contacts__wrap2 {
	background: #F8F8F9;
	border-radius: 12px 6px;
	padding: 40px;
	margin-right: 35px;
	width: 37.5%;
}

@media (max-width: 540px) {
	.contacts__wrap2, .contacts__wrap {
		width: 100%;
		margin-right: 0px;
		padding: 15px;
		margin-bottom: 20px;
	}
}

.contacts__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contacts__info-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	color: #1F2937;
	padding-bottom: 10px;
}

.contacts__info-wrapper {
	padding-left: 20px;
	padding-bottom: 20px;
	position: relative;
	border: 1px solid #DBDEE2;
	border-radius: 10px;
	padding: 2px 35px;
}

.contacts__info-wrapper:last-child {
	padding-bottom: 0;
}

.contacts__info-wrapper:before {
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	background: #7BB3FE;
	border-radius: 100%;
	top: 11px;
	left: 20px;
}

.contacts__text {
	padding-top: 16px;
	padding-bottom: 44px;
}

.contacts__info-name {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #455163;
	padding-bottom: 4px;
}

@media (max-width: 540px) {
	.contacts__info-name {
  		font-size: 13px;
	}
}


.contacts__info-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #455163;
}

@media (max-width: 540px) {
	.contacts__info-text {
  		font-size: 13px;
	}
}

.contacts__info-text--blue {
	color: #36A9E1;
}

.contacts__info-text--blue:hover {
	color: #36A9E1;
	text-decoration: underline;
}

.contacts__info-text--time {
	color: #1F2937;
	cursor: default;
}

.contacts__info-text--time:hover {
	color: #36A9E1;
	text-decoration: underline;
}

.contacts__info-text--pad {
	padding-bottom: 7px;
}

.contacts__info-text--bold {
	font-weight: 500;
	cursor: default;
}

.contacts__info-text--bold:hover {
	color: #36A9E1;
	text-decoration: underline;
}

.contacts__image{
	width: 100%;
	margin-top: 34px;
}

@media (max-width: 540px) {
	.contacts__image {
		margin-top: 20px;
	}
}

.contacts__image img{
	width: 100%;
}

.contacts__map {
	height: 323px;
}

.contacts__map iframe {
	border-radius: 12px 6px;
}

.contacts__info-text {
	display: flex;
	justify-content: space-between;
}

@media (max-width: 540px) {
	.contacts__map iframe {
		width: 100%;
		height: 146px;
	}

	.contacts__map {
		height: 146px;
	}
}

@media screen and (max-width: 800px) {
	.contacts__wrap {
		padding: 0;
		border: none;
	}

	.contacts__address {
		width: 100%;
	}

	.contacts__map iframe {
		width: 100%;
		height: 180px;
	}

	.contacts__map {
		height: 100%;
	}

	.contacts h4 {
		font-size: 24px;
	}
}