.cooperation {
    margin-bottom: 60px;
}
    
.cooperation__title {
    margin-bottom: 60px;
    font-size: 24px;
    font-weight: 500;
}
    
.cooperation__item {
    padding: 25px;
    border: 1px solid #EFF1F5;
}
    
.cooperation__item-title {
    text-align: center;
    font-size: 14px;
}
    
.cooperation__item-image {
    width: 100%;
}
    
.cooperation__item-image img {
    width: 100%;
}
    