.details__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #AAAAAA;
    padding-right: 10px;
    padding-bottom: 20px;
    position: relative;
}

.details__info-manager {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #9A9BBE;
    padding-right: 10px;
    padding-bottom: 20px;
}

.details__info-download {
    font-weight: normal;
    font-size: 18px;
    line-height: 110%;
    color: #36A9E1;
    position: relative;
}

/* .details__info-download::before {
	content: '';
	position: absolute;
	right: -35%;
	top: -70%;
	-webkit-transform: translateY(50%);
		-ms-transform: translateY(50%);
			transform: translateY(50%);
	width: 24px;
	height: 24px;
	background-image: url("/assets/icon/client-download.svg");
	background-repeat: no-repeat;
} */

.details__info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #333333;
}

.details__info-text--highlight {
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	color:#36A9E1;
}

.details__info-text--time {
	font-weight: 300;
	font-size: 16px;
	line-height: 160%;
	color: #001233;
	margin-left: 35px;
}
    
.details__button {
    padding-bottom: 70px;
    padding-top: 4px;
}
    
.details__textarea {
    background: #F7F7F7;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    width: 703px;
    height: 100px;
    padding: 10px 25px;
    margin-bottom: 24px;
    outline: none;
    resize: none;
    border-radius: 12px 6px;
}


.details__textarea::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #B5B9BF;
}

.details__textarea:focus {
    border: 1px solid #36A9E1;
    color: #000;
    background: none;
}

.details__textarea--order {
    margin-bottom: 0px;
}
    
.details__check {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline;
}

.details__info--manager {
    margin-top: 20px;
    margin-bottom: 30px;
}

.details__info-text--blue {
    color: #36A9E1;
}

.details__info-download-icon {
    margin-left: 7px;
}

.details__info-download-icon svg {
    width: 18px;
    height: 18px;
    fill: #36A9E1;
}

.details__download-wrap {
    display: flex;
    align-items: center;
}

.details__info--note {
    padding-top: 30px;
}