.edit_settings {
    width: 200px;
    height: 20px;
    background-color: #EFEFEF;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}

.switch_mode, .switch_visible_mode {
    width: 220px;
    height: 50px;
    background: #1D2E89;
    border-radius: 12px 6px;
    border: 1px solid #1D2E89;
    color: #fff;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    transition: all .1s ease-in;
}

.switch_mode:hover {
    background: #fff;
    color: #1D2E89;
    transition: all .1s ease-in;
}

.switch_visible_mode {
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #1D2E89;
    color: #1D2E89;
    transition: all .1s ease-in;
}

.switch_visible_mode:hover {
    background: #1D2E89;
    color: #fff;
    transition: all .1s ease-in;
}

.apply_filters {
    width: 220px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #1D2E89;
    color: #1D2E89;
    margin: 0 auto;
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    border-radius: 12px 6px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .1s ease-in;
}

.apply_filters:hover {
    background: #1D2E89;
    color: #fff;
    transition: all .1s ease-in;
}


.sidebar__element-wrapper2 {
}

.sidebar__element2 {
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}


.sidebar__element-wrapper2 {
    display: none;
}

@media (max-width: 540px) {
    .sidebar__element-wrapper2 {
        margin-top: 0;
    }
}

.checkbox_big {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("/assets/icon/checkbox.svg");
    background-size: cover;
    width: 16px !important;
    height: 16px !important;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.checkbox_big:hover:not(:checked), .checkbox:hover:not(:checked) {
    background-image: url("/assets/icon/checkbox-hover.svg");
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.checkbox_big:checked, .checkbox:checked {
    background-image: url("/assets/icon/checkbox-active.svg");
    background-size: cover;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.checkbox-number__text_long {
    background: #FFFFFF;
    border: 1px solid #F0F4FA;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 15px;
    width: 75px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-number__text_long2 {
    background: #FFFFFF;
    border: 1px solid #F0F4FA;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 15px;
    width: 100px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-number:checked + .checkbox-number__text_long, .checkbox-number:checked + .checkbox-number__text_long2 {
    background: #1D2E89;
    border: 1px solid #1D2E89;
    color: #fff;
}