.footer {
    background: #1F2937;
    padding-bottom: 40px;
    padding-top: 100px;
}
@media (max-width: 540px) {
    .footer {
      	padding-top: 0px;
      	padding-bottom: 16px;
	}
}

.footer__logo {
    padding-bottom: 55px;
}

@media (max-width: 540px) {
    .footer__logo {
        padding-bottom: 20px;
        padding-top: 16px;
	}
    .footer__logo img {
        margin: auto;
	}
}

.footer__nav-list-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #B5B9BF;
    margin-bottom: 32px;
    display: inline-block;
}

.footer__nav-list-title a {
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #B5B9BF;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.footer__nav-list-title:hover a {
    text-decoration: none;
    transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
    .footer__nav-list-title {
    	margin-bottom: 15px;
	}
}

.footer__nav-item {
    padding-bottom: 24px;
}

.footer__nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.footer__nav-link:hover {
    color: #fff;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.footer__nav-link--inactive-city {
    padding-bottom: 14px;
}

.footer__nav-link--inactive:hover {
    cursor: default;
    text-decoration: none;
}

@media (max-width: 540px) {
    .footer__nav-item {
        padding-bottom: 10px;
    }
    .footer__nav-link {
        font-size: 15px;
	}
}

.footer__nav-list-contact {
}

@media (max-width: 540px) {
    .footer__nav-list-contact {
    	padding-bottom: 16px;
	}
}

.footer__nav-list-contact:last-child {
    padding-top: 32px;
}

@media (max-width: 540px) {
    .footer__nav-list-contact:last-child {
        padding-top: 4px;
    }
}

.footer__phone {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.footer__phone-pad {
    padding-left: 18px;
    padding-bottom: 26px;
}

.footer__phone-image {
    margin-right: 12px;
}
    
.footer__phone-number a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
	cursor: pointer;
}

.footer__phone-number:hover a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}
    
.footer__mail {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    position: relative;
}

.footer__mail-text {
    margin-left: 12px;
}

.footer__mail-text a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-out; 
}

.footer__mail-text:hover a {
    color: #fff;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.footer__address {
    display: flex;
    align-items: center;
}

.footer__address-image {
    margin-right: 11px;
}

.footer__address-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}

.footer__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 19px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    color: #fff;
    background: #333333;
    border: 1px solid #999999;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.2s ease-out; 
}

.footer__subscribe {
    padding-bottom: 33px;
}

@media (max-width: 540px) {
    .footer__subscribe {
    	padding-bottom: 16px;
	}
}

.footer__button:hover {
    background-color: #0147cf;
    border-color: #0147cf;
    transition: all 0.2s ease-out; 
}

.footer__button-icon svg {
    fill: #E8E8E8;
}

.footer__button-icon:hover svg {
    fill: #fff;
}

.footer__button:hover .footer__button-icon svg {
    fill: #fff;
    transition: all 0.2s ease-out; 
}

.footer__callback-wrap {
    display: flex;
    justify-content: flex-end;
}

.footer__callback {
    font-size: 13px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 15px 25px;
    width: 187px;
    cursor: pointer;
    transition: all 0.2s ease-out; 
}

@media (max-width: 540px) {
    .footer__callback {
    	width: 100%;
    	text-align: center;
	}
}

.footer__callback:hover {
    background-color: #0147cf;
    border-color: #0147cf;
    transition: all 0.2s ease-out; 
}

.footer__info-wrap {
    background: #1F2937;
    padding-bottom: 40px;
}

@media (max-width: 540px) {
    .footer__info-wrap {
    	padding-top: 16px;
    	padding-bottom: 36px;
	}
}

.footer__info-policy {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #455163;
}

@media (max-width: 540px) {
    .footer__info-policy {
        border-top: none;
        padding-top: 0px;
    	flex-direction: column;
	}
}

.footer__info-right {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #B5B9BF;
}

@media (max-width: 540px) {
    .footer__info-right {
    	padding-bottom: 16px;
	}
}

.footer__info-right-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #B5B9BF;
    display: flex;
    align-items: flex-end;
}

.footer__info-right-text a {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #B5B9BF;
    text-decoration: underline;
    padding-left: 10px;
}

.footer__info-right-text a:hover {
    color: #B5B9BF;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.footer__info-right-text img{
    margin-left: 10px;
    margin-bottom: 3px;
}