.to-top {
    position: fixed;
    bottom: 110px;
    right: 40px;
    border-radius: 3px;
    z-index: 20;
    background: #FFFFFF;
    border: 1px solid #36A9E1;
    border-radius: 12px 6px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    display: none;
}

.to-top span {
    width: 56px;
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.opener {
    width: 24px;
    height: 24px;
    fill: #36A9E1;
}

.to-top:hover {
    background: #36A9E1;
    transition: all 0.2s ease-out;
}

.to-top:hover .opener {
    fill: #fff;
}
    
/* #totop.opener {
    opacity: 1;
} */

#totop {
    position: fixed;
    opacity: 0;
    z-index: 9999;
}

.header {
    background-color: #fff;
}
.header__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 540px) {
    .header__wrapper {
      	display: none;
	}
}

.header__logo {
    width: 34%;
    margin-bottom: 7px;
}

.header__callback-wrap {
    width: 20%;
}

.header__callback-wrap-fixed {
    display: flex;
    width: 40%;
}

.header__callback {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-right: 24px;
}

@media (max-width: 1200px) {
    .header__callback {
      	display: none;
	}
}

.header__callback-image {
    margin-right: 10px;
}

.header__callback-phone {
}

.header__callback-phone a {
    font-weight: 400;
    font-size: 14px;    
    line-height: 100%;
    color: #36A9E1;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.header__callback-phone:hover a {
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

@media (max-width: 1200px) {
    .header__callback-phone {
        display: none;
	}
}

.header__mail {
    display: flex;
    align-items: center;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .header__mail {
    	display: none;
	}
}

.header__mail-image {
    margin-right: 10px;
}

.header__email a {
    font-weight: 400;
    font-size: 15px;    
    line-height: 100%;
    color: #36A9E1;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.header__email:hover a {
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.header__enter {
    cursor: pointer;
}

.header__enter-icon {
    margin-right: 30px;
    cursor: pointer;
}

.header__enter-icon svg {
    width: 32px;
    height: 32px;
    stroke: #36A9E1;
    fill: #fff;
} 

.header__enter-icon:hover svg {
    stroke: #fff;
    fill: #36A9E1;
    transition: all 0.2s ease-out;
} 

.header__enter-icon--first {
    margin-right: 30px;
    cursor: pointer;
}

.header__enter-icon--first svg {
    width: 32px;
    height: 32px;
    fill:#36A9E1;
}

.header__enter-icon--first:hover svg {
    fill: #1F2937;
    transition: all 0.2s ease-out;
} 

.header__enter-email {
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: #1F2937;
    margin-left: 10px;
    transition: all 0.2s ease-out;
}

.header__enter-email:hover {
    color: #36A9E1;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.header__enter-icon--enter:hover .header__enter-email {
    color: #36A9E1;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}


/* .header__button {
    padding-top: 3px;
    font-size: 15px;
    line-height: 120%;
    color: #333333;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header__button:hover {
    color: #0147cf;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header__enter:hover .header__button {
    color: #0147cf;
    transition: all 0.2s ease-out;
}

.header__enter:hover .header__enter-icon svg {
    fill: #0147cf;
    transition: all 0.2s ease-out;
}
     */
a.header__button {
    color: #333333;
}
    
.header__breadcrumbs {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}


@media (max-width: 540px) {
    .header__breadcrumbs {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

   
.header__breadcrumbs-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.header__breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #777777;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
    .header__breadcrumbs-link {
        font-size: 10px;
        line-height: 110%;
    }
}

.header__breadcrumbs-link:hover {
    color: #36A9E1;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header__breadcrumbs-line {
 
}

.header__breadcrumbs-current {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #36A9E1;
}

@media (max-width: 540px) {
    .header__breadcrumbs-current {
        font-size: 10px;
        line-height: 110%;
    }
}

.header__breadcrumbs-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #777777;
}

@media (max-width: 540px) {
    .header__breadcrumbs-current, .header__breadcrumbs-item {
        font-size: 10px;
        line-height: 110%;
    }
}

.header__nav {
    width: 35%;
    display: flex;
    margin-bottom: 0px;
}

.header__mobile {
    display: none;
    padding-top: 15px;
}

@media (max-width: 540px) {
    .header__mobile {
        display: block;
	}
    .header__logo {
        width: 40%;
        margin: auto;
    }
    .header__logo img {
        width: 100%;
    }
    .header__mobile-wrap{
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header__mobile-enter {
    position: relative;
}

.header__enter-icon-mobile {
   margin-right: 0px;
   position: absolute;
   content: '';
   top: 0;
   right: -5px;
}

.header__mobile-wrap {
    margin-top: 25px;
    cursor: pointer;
}

.header__city-mobile {
    position: relative;
    padding-top: 20px;
    display: flex;
}

.header__city-choose-mobile {
    padding-left: 10px;
} 

.header__actions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__enter-icon--enter {
    display: flex;
    align-items: center;
}

.header__callback-phone--fixed {
    padding-left: 30px;
    padding-right: 20px;
}
    
@media (max-width: 540px) {
    .header__breadcrumbs-arrow {
        margin-top: 4px;
    }
}

.header__mobile-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5px;
}

.header__mobile-actions .header__enter-icon {
    margin-right: 0px;
    margin-top: 5px;
}

.header__mobile-actions .nav__cart {
    margin-right: 0px;
}

.header__city {
    width: 12%;
    position: relative;
}

.header__city-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #1F2937;
    padding-bottom: 10px;
}

.header__city-choose {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #36A9E1;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.header__city-choose:hover {
    color: #36A9E1;
    text-decoration: underline;
    transition: all 0.2s ease-out;
}

.header__city-popup {
    position: absolute;
    content: '';
    z-index: 10;
    left: -110px;
    top: 60px;
    background: #FFFFFF;
    border-radius: 24px 12px;
    padding: 30px;
    filter: drop-shadow(0px 0px 24px rgba(0, 0, 0, 0.05)) drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.02));
}

@media (max-width: 540px) {
    .header__city-popup  {
        left: 0;
    }
}


.header__city-popup__question {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #1F2937;
    padding-bottom: 24px;
}

.header__city-popup__answers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__city-popup__yes {
    width: 62px;
    height: 48px;
    background: #36A9E1;
    border: 1px solid #36A9E1;
    border-radius: 12px 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__city-popup__yes:hover {
    background-color: #fff;
    color:#36A9E1;
    transition: all 0.2s ease-out;
}

.header__city-popup__no {
    width: 153px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #36A9E1;
    border-radius: 12px 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #36A9E1;
    justify-content: center;
}

.header__city-popup__no:hover {
    background-color: #36A9E1;
    color:#fff;
    transition: all 0.2s ease-out;
}

.header__city-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: translate(-50%, -50%) rotate(45deg);
}

