.modal-key {
    margin: auto;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
	justify-content: center;
}

.modal-key__question {
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    color: #1E4995;
    padding-left: 5px;
}

.modal-key__inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.modal-key__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-key__container {
    background-color: #fff;
    padding: 30px 58px;
    position: relative;
    z-index: 2;
}

.modal-key__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
    margin-bottom: 20px;
}

.modal-key__name {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    color: #333333;
}

.modal-key__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

.modal-key__wrapper {
    width: 220px;
}

.modal-key__wrapper:not(:last-child) {
    margin-right: 24px;
}

.modal-key__wrapper-hide {
    visibility: hidden;
}

.modal-key__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
	align-items: center;
    margin-bottom: 10px;
}

.modal-key__label .radio {
    margin-right: 10px;
}

.modal-key__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #333333;
    cursor: pointer;
}

.modal-key__submit {
    display: flex;
    justify-content: flex-end;
}

.modal-key__info {
    position: relative;
    cursor: pointer;
}

.modal-key__info-icon {
    margin-left: 5px;
}

.modal-key__info-text {
    display: none;
    position: absolute;
    -webkit-transform: translate(-10px, -135%);
    -ms-transform: translate(-10px, -135%);
    transform: translate(-10px, -135%);
    background: #F0F4FA;
    box-shadow: 0px 8px 24px rgba(119, 119, 119, 0.06), 0px 0px 6px rgba(119, 119, 119, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    width: 278px;
    padding: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #333;
    z-index: 1;
}

.modal-key__info-text::before {
	position: absolute;
	content: '';
	bottom: -10%;
	left: 18px;
	width: 12px;
	height: 12px;
	background: #F0F4FA;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.modal-key__info:hover .modal-key__info-text {
    display: block;
}

.modal-key__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.4);
    z-index: 1;
}

.modal-key__close {
    margin-right: 15px;
}
    