.modal-edit {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.modal-edit__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-edit__content {
    padding: 50px 30px;
    background-color: #fff;
    width: 627px;
    position: relative;
    -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
}

.modal-edit__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #333333;
    padding-bottom: 30px;
}

.modal-edit__subtitle {
    font-weight: 500;
    font-size: 15px;
    line-height: 110%;
    color: #333;
    margin-bottom: 25px;
}

.modal-edit__form-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.modal-edit__form-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    color: #333333;
    margin-right: 31px;
}

.modal-edit__form-input input {
    width: 415px;
}

.modal-edit__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.modal-edit-button {
    margin-right: 25px;
}