.nobuy {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.nobuy span {
    padding: 24px 90px 25px 90px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #013DB1;
    background-color: #013DB1;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
    
.nobuy:hover span {
    background:  #0147cf;
    border-color: #0147cf;
    color: #fff;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
  
.nobuy:active span {
    background-color: #0147cf;
    border-color: #0147cf;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
    