.partners-pagination {
	position: absolute;
	content: '';
	bottom: 10%!important;
	left: 48%!important;
	padding-left: 0!important;
}

@media(max-width: 2048px) {
	.partners-pagination {
		padding-left: 0;
		left: 48%!important;
	}
}

@media(max-width: 1800px) {
	.partners-pagination {
		padding-left: 0!important;
		left: 48%!important;
	}
}

@media(max-width: 1600px) {
	.partners-pagination {
		padding-left: 0!important;
		left: 48%!important;
	}
}

@media(max-width: 1440px) {
	.partners-pagination {
		padding-left: 0!important;
		left: 48%!important;
	}
}

@media (max-width: 540px) {
	.partners-pagination {
		bottom: 3%!important;
		padding-left: 0!important;
		left: 42%!important;
	}
}

.page-pagination__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
}

.page-pagination__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 18px;
	background: #fff;
	color: #333333;
	cursor: pointer;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.page-pagination__item:not(:last-child) {
	margin-right: 5px;
	margin-left: 5px;
}

@media (max-width: 540px) {
	.page-pagination__item:not(:last-child) {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.page-pagination__item:not(:first-child) {
	margin-right: 5px;
	margin-left: 5px;
}

@media (max-width: 540px) {
	.page-pagination__item:not(:first-child) {
		margin-right: 0px;
		margin-left: 0px;
	}
}

.page-pagination__item:last-child {
	margin-left: 15px;
}


.page-pagination__item--current {
	color: #36A9E1;
}

.page-pagination__item a {
	color: #333333;
	width: 50px;
	height: 50px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.page-pagination__item a:hover {
	color: #36A9E1;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
	.page-pagination__item a {
		width: 44px;
		height: 44px;
	}
}

.page-pagination__item a svg {
	fill: #36A9E1;
}

.page-pagination__item--right a {
	border: 1px solid #36A9E1;
	border-radius: 12px 6px;
	width: 56px;
	height: 56px;
}

.page-pagination__item--right a:hover {
	background: #36A9E1;
	box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.page-pagination__item--left a {
	border: 1px solid #36A9E1;
	border-radius: 12px 6px;
	width: 56px;
	height: 56px;
}

.page-pagination__item--left a:hover {
	background: #36A9E1;
	box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07);
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.page-pagination__item:hover svg {
	fill: #fff;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.page-pagination__item span {
	width: 56px;
	height: 56px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.page-pagination__item.nopage {
	width: 34px;
	cursor: default !important;
}

.page-pagination__item-arrow {
	padding-top:4px ;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 540px) {
	.page-pagination__item-arrow {
		padding-top: 8px;
	}
}    