.partners{
    padding-top: 100px;
    padding-bottom: 126px;
    position: relative;
}

@media (max-width: 540px) {
    .partners {
		padding-top: 0;
		padding-bottom: 40px;
	}
}

.partners__title {
	font-size: 30px;
	line-height: 120%;
	color: #333333;
	padding-bottom: 36px;
	padding-left: 10px;
}

@media (max-width: 540px) {
	.partners__title {
		padding-top: 40px;
		padding-bottom: 15px;
	}
}

.partners__image {
	background: #fff;
	/*padding: 10px 29px;*/
	padding: 10px 0px;
	cursor: default;
	margin-bottom: 19px;
	text-align: center;
}

.partners__image img {
	width: 40%;
	margin-left:auto;
	margin-right:auto;
}

@media (max-width: 540px) {
	.partners__image {
		padding:0;
		padding-left: 10px;
		padding-right: 10px;
	} 
}

@media (max-width: 540px) {
	.partners__image img {
		width: 100%;
	}
}

.partners__image:hover {
	box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
	border-radius: 3px;
}

.partners-button {
	width: 54px;
	height: 54px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none;
}
	
.partners-button-prev {
	border: 1px solid rgba(1, 61, 177, 0.3);
	border-radius: 3px;
	padding-top: 13px;
	padding-left: 13px;
	padding-right: 15px;
	padding-bottom: 15px;
	top: 50%;
	left: 1%;
}

.partners-button-prev svg {
	fill: #333333;
}

.partners-button-prev:hover {
	background: #013DB1;
}

.partners-button-prev:hover svg {
	fill:#fff;
}

@media (max-width: 540px) {
	.partners-button-prev {
		left: 2%;
		top: 50%;
	}
}
	
.partners-button-next {
	border: 1px solid rgba(1, 61, 177, 0.3);
	border-radius: 3px;
	padding-top: 13px;
	padding-left: 15px;
	padding-right: 13px;
	padding-bottom: 15px;
	top: 50%;
	right: 1%;
}

.partners-button-next:hover {
	background: #013DB1;
}

.partners-button-next svg {
	fill: #333333;
}

.partners-button-next:hover svg {
	fill:#fff;
}

@media (max-width: 540px) {
	.partners-button-next {
		right: 2%;
		top: 50%;
	} 	
}

.partners-button-next svg {
	fill:#333333;
}

.partners-container {
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
	