.pay {
    position: relative;
    padding-top: 40px;
    padding-bottom: 120px;
}

@media (max-width: 540px) {
	.pay {
		padding-top: 30px;
	}
}

.pay__title {
    padding-bottom: 42px;
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    color: #1F2937;
}

@media (max-width: 540px) {
	.pay__title {
		padding-bottom: 20px;
        font-size: 24px;
	}
}


.pay__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 540px) {
	.pay__container {
		flex-direction: column;
	}
}

.pay__content-container {
    
}

.pay__content {
    width: 583px;
}


@media (max-width: 540px) {
	.pay__content {
		position: relative;
        width: 100%;
        margin-bottom: 30px;
        top: 0;
        z-index: 1;
	}
}

.pay__wrap {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #F0F4FA;
    border-radius: 36px 18px;
    padding: 30px 40px;
    margin-bottom: 40px;
}

.pay__name {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #1F2937;
    padding-bottom: 20px;
}

.pay__item {
    position: relative;
    padding-left: 20px;
}

.pay__item::before {
    position: absolute;
    content: '';
    width: 8px;
	height: 8px;
	background: #7BB3FE;
	border-radius: 100%;
	top: 8px;
	left: 0px;
}

.pay__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #455163;
    padding-bottom: 20px;
}

.pay__icon {
    background: #F0F4FA;
    box-shadow: 0px 6px 25px -1px rgba(132, 166, 213, 0.15), inset 0px -4px 0px rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    padding: 24px 24px;
    display: inline-block;
    position: absolute;
    content: '';
    right: 28px;
    top: -30px;
}

@media (max-width: 540px) {
	.pay__icon {
		display: none;
	}
}


.pay__attention {
    background: rgba(236, 28, 28, 0.1);
    border-radius: 36px 18px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #EC1C1C;
    padding: 48px 56px;
}

.pay__requisites {
    width: 50%;
    margin-left: auto;
}

@media (max-width: 540px) {
	.pay__requisites {
		margin-left: 0px;
        width: 100%;
	}
}

.pay__requisites-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

@media (max-width: 540px) {
	.pay__requisites-wrap {
		flex-direction: column;
        align-items: flex-start;
	}
}

.pay__requisites-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    color: #1F2937;
}

@media (max-width: 540px) {
	.pay__requisites-title {
        margin-bottom: 20px;
	}
}

.pay__requisites-item {
  border-bottom: 1px solid#E2E4E8;
  margin-bottom: 20px;
}

.pay__requisites-item-name {
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #455163;
    padding-bottom: 8px;
}

@media (max-width: 540px) {
	.pay__requisites-item-name {
        font-size: 13px;
	}
}

.pay__requisites-item-data {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1F2937;
    padding-bottom: 16px;
}

@media (max-width: 540px) {
	.pay__requisites-item-data {
        font-size: 13px;
	}
}

.pay__requisites-download {
    position: relative;
}

@media (max-width: 540px) {
	.pay__requisites-download {
        width: 100%;
	}
}

.pay__requisites-download svg {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 24px;
    height: 24px;
    fill: #455163;
}

@media (max-width: 540px) {
	.pay__requisites-download svg {
        left: 70px;
	}
}

.pay__requisites-download:hover svg {
    fill: #fff;
    transition: all 0.2s ease-out;
}

.pay__requisites-button {
    border: 1px solid #455163;
    border-radius: 12px 6px;
    padding: 14px 24px 14px 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1F2937;
    cursor: pointer;
    background: none;
    height: 52px;
    transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
	.pay__requisites-button {
        width: 100%;
	}
}

.pay__requisites-download:hover .pay__requisites-button {
    background:  #36A9E1;
    color: #fff;
    border: 1px solid  #36A9E1;
    transition: all 0.2s ease-out;
}
