.payment-steps {
    margin-top: 50px;
    margin-bottom: 100px;
}
    
.payment-steps__item {
    padding: 40px 20px 20px 20px;
    font-size: 15px;
    background-color: #013DB1;
    position: relative;    
}

.payment__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #333333;
    padding-top: 80px;
    padding-bottom: 30px;
}
    
.payment-steps__item-icon {
    position: absolute;
    left: 25px;
    bottom: 65px;
    width: 139px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E8E8E8;
    z-index: 1;
    color: #013DB1;
}

.payment-steps__item-num {
    font-size: 24px;
    margin-right: 15px;
}

.payment-steps__item-text {
    color: #fff;
}