.popup-callback {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, 0.4);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.popup-callback__content {
    background: #fff;
    width: 580px;
    padding: 60px 70px;
    -webkit-box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05), 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.02);
    position: relative;
}

@media (max-width: 540px) {
    .popup-callback__content {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        padding: 20px;
	}
}

.popup-callback__close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

@media (max-width: 540px) {
    .popup-callback__close {
        top: 15px;
        right: 15px;
	}
}

.popup-callback__title {
    font-size: 30px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 24px;
}

@media (max-width: 540px) {
    .popup-callback__title {
        font-size: 18px;
        line-height: 22px;
        width: 80%;
	}
}

.popup-callback__text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 25px;
    color: #999999;
    padding-bottom: 38px;
}

@media (max-width: 540px) {
    .popup-callback__text {
        font-size: 14px;
        margin-bottom: 15px;
	}
}

.popup-callback__sent {
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #1E4995;
    padding-bottom: 15px;
}

@media (max-width: 540px) {
    .popup-callback__form {
      	display: block;
      	background: none;
	}
}

.popup-callback__form-input {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
    outline: none;
}

.popup-callback__form-input input {
    width: 100%;
}

@media (max-width: 540px) {
	.popup-callback__form-input {
		width: 100%;
		margin-bottom: 20px;
		background-color: #fff;
	}
}

.popups__agreement {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    color: #9A9BBE;
    padding-top: 25px;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
    .popups__agreement {
      	padding-top: 15px;
	}
}

.popups__agreement a {
    color: #1E4995;
}

.popups__agreement a:hover {
	color: #001233;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.popups__label {
	font-weight: 400;
	font-size: 15px;
	line-height: 100%;
	/* color: #DBDEE2; */
    color: #A9A9A9;
	padding-bottom: 9px;
	z-index: 1;
	transition: all 0.2s ease-out;
}

/* .popups__label--active {
	top: -20px;
	font-size: 10px;
} */

.popups__agreement {
	font-weight: 300;
	font-size: 12px;
	line-height: 160%;
	color: #9A9BBE;
	padding-top: 25px;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
	.popups__agreement {
		padding-top: 15px;
	}
}

.popups__agreement a {
	color: #1E4995;
}

.popups__agreement a:hover {
	color: #001233;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.popup_small_form_upload {
	display: inline-block;
	padding: 2px 2px 2px 2px;
	cursor: pointer !important;
	color: #1E4995;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
}

.popup_small_form_upload span:hover {
	text-decoration: underline;
}

.popup-callback__text_result {
}
  
/* === */
.phone-callback {
	position: fixed;
	right: 30px;
	bottom: 130px;
	z-index: 99;
}


.popup-input {
	height: 50px;
}
