.prime {
	position: relative;
	padding-top: 0px;
	padding-bottom: 90px;
}

@media (max-width: 540px) {
	.prime {
		padding-top: 20px;
	}
}

.prime-container {
	overflow: hidden;
	height: 440px;
}

.prime__wrap-content {
	/* background: #36A9E1;
	display: flex;
	align-items: center; */
	position: relative;
	height: 440px;
	/* z-index: -2; */
	overflow: hidden;
}

@media (max-width: 540px) {
	.prime__wrap-content{
		flex-direction: column;
	}
}

.prime__main-image {
	position: absolute;
	content: '';
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow-x: hidden;
}

/* .prime__main-image--pad {
	right: 5%;
} */

.prime__main-image-mobile {
	display: none;
}

.prime__main-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

@media (max-width: 540px) {
	.prime__main-image{
		position: relative;
		width: 100%;
	}

	.prime__main-image img{
		width: 100%;
	}

	.prime__main-image--pad {
		right: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

	.prime__main-image-mobile {
		display: block;
		width: 100%;
	}

	.prime__main-image-mobile img {
		width: 100%;
	}

	.prime__main-image-hide  {
		display: none;
	}
}

.prime__main {
	width: 70%;
	margin-top: 78px;
	z-index: 10;
}

.prime__main-fast {
	width: 70%;
	z-index: 10;
	margin-top: 138px;
}

@media (max-width: 540px) {
	.prime__main {
		position: absolute;
		content: '';
		width: 100%;
		margin-top: 48px;
	}
	.prime__main-fast {
		width: 70%;
	}
}

.prime__title {
	font-weight: 600;
	font-size: 64px;
	line-height: 78px;
	color: #143C4F;
	padding-left: 24px;
	padding-right: 24px;
	background:#D9F0FB;
	display: inline-block;
	border-radius: 24px 24px 12px 12px;
}

.prime__title2 {
	font-weight: 600;
	font-size: 64px;
	line-height: 78px;
	color: #143C4F;
	margin-top: 10px;
	padding-left: 24px;
	padding-right: 24px;
	background:#D9F0FB;
	display: inline-block;
	border-radius: 12px 12px 24px 24px;
}

@media (max-width: 540px) {
	.prime__title {
		font-size: 20px;
		line-height: 32px;
		border-radius: 12px 12px 6px 6px;
		padding-left: 12px;
		padding-right: 12px;
	}
	.prime__title2 {
		font-size: 20px;
		line-height: 32px;
		padding-left: 12px;
		padding-right: 12px;
		border-radius: 6px 6px 12px 12px;
	}
}

.prime__title-small {
	font-weight: 500;
	font-size: 55px;
	color: #FFFFFF;
	line-height: 73px;
}

.prime__title-small--fast {
	font-size: 40px;
}

.prime__title-thesmallest {
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	color: #FFFFFF;
	margin-top: 45px;
	width: 55%;
}


@media (max-width: 540px) {
	.prime__title-small {
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		padding-bottom: 20px;
	}

	.prime__title-thesmallest {
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		margin-top: 24px;
		width: 70%;
	}
}

.prime__text {
	font-weight: 600;
	font-size: 34px;
	line-height: 41px;
	color: #FFFFFF;
	margin-top: 66px;
}

.prime__text {
	margin-top: 56px;
}

@media (max-width: 540px) {
	.prime__text {
		font-size: 16px;
		line-height: 24px;
		width: 70%;
	}
	.prime__text2 {
		margin-top: 24px;
		width: 50%;
	}
}

.prime__contacts {
	display: flex;
	align-items: center;
}

@media (max-width: 540px) {
	.prime__contacts{
		justify-content: space-between;
	}
}

.prime__text-phone {
	font-weight: 400;
	font-size: 30px;
	line-height: 100%;
	margin-right: 30px;
}

@media (max-width: 540px) {
	.prime__text-phone {
		font-size: 16px;
		line-height: 19px;
		margin-right: 0;
	}
}

.prime__text-email {
	font-weight: 400;
}

@media (max-width: 540px) {
	.prime__text-email {
		font-size: 16px;
		line-height: 19px;
	}
}


.swiper-pagination{
	left: 50%;
	transform: translateX(-50%)!important;
	bottom: 22px!important;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	left: 0;
}

.swiper-pagination-bullet:not(:last-child){
	margin-right: 20px;
}

.swiper-pagination-bullet-active{
	background: #36A9E1!important;
	border: 1px solid #36A9E1!important;	
	box-shadow: 0px 6px 10px -1px rgba(6, 25, 56, 0.07)!important;
	border-radius: 4px 2px!important;
}

@media (max-width: 540px) {
	.prime-container {
		height: 100%;
	}
}