
.red3 {
    border-right: 1px solid #CE0606 !important;
    border-left: 1px solid #CE0606 !important;
    border-top: 1px solid #CE0606 !important;
    border-bottom: 1px solid #CE0606 !important;
}
    
.fullred {
    border-right: 1px solid #CE0606 !important;
    border-left: 1px solid #CE0606 !important;
    border-top: 1px solid #CE0606 !important;
    border-bottom: 1px solid #CE0606 !important;
}