.search {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

@media (max-width: 540px) {
	.search {
		width: 100%;
	}
}

.search__input {
	background: #FFFFFF;
	border: 1px solid #DBDEE2;
	border-radius: 12px 6px;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	color: #1F2937;
	width: 704px;
	height: 52px;
	padding-left: 52px;
	padding-right: 16px;
}

@media (max-width: 540px) {
	.search__input{
		width: 100%;
		margin: auto;
		height: 40px;
	}
}

.search__input::placeholder {
	color: #455163;
}

.search__toggle {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.search__small {
	display: flex;
	align-items: center;
}

.search__small-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 110%;
	color: #333333;
	margin-right: 20px;
}

.search__small-content {
	position: relative;
}

.search__small-input {
	width: 330px;
	height: 40px;
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color: #777777;
	padding: 9px 47px 9px 13px;
}

.search__small-input::placeholder {
	color: #777777;
}

.search__small-toggle {
	position: absolute;
	content: '';
	top: 50%;
	transform: translateY(-50%);
	right: 8px;
}

.search__input--fixed {
	width: 443px;
}

.search__toggle svg {
	width: 24px;
	height: 24px;
	fill:#1F2937;
	cursor: pointer;
	transition: all 0.2s ease-out;
}

.search__toggle:hover svg {
	fill: #7BB3FE;
	transition: all 0.2s ease-out;
}

.search__toggle:active svg {
	fill: #7BB3FE;
}