.settings-main {
	margin-left: 30px;
	width: 1071px;
}

.settings__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 110%;
	color: #333333;
	padding-bottom: 40px;
}

.settings {
	background-color: #fff;
}

.settings .requisites__form-wrapper {
	margin-bottom: 25px;
}

.settings .requisites__form-name--password {
	width: 200px;
	margin-right: 10px;
}

.settings .custom__select-content {
	border-top: none;
}

.settings .custom__select-content {
	border: none;
	background-color: #FFFFFF;
	padding: 0;
	top: 29px;
	right: -2px;
	-webkit-box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 5px rgba(0, 0, 0, 0.01);
	box-shadow: 0px 16px 24px rgba(119, 119, 119, 0.07), 0px 2px 6px rgba(119, 119, 119, 0.04), 0px 0px 5px rgba(0, 0, 0, 0.01);
	border-radius: 0px 0px 6px 6px;
}

.settings .custom__select--active {
	border: none;
	border-radius: 0px;
}

.settings .custom__select-title--active::before {
	background-image: none;
}

.settings .custom__select-title {
	color: #333;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	display: inline-block;
	margin-left: 3px;
	margin-right: 5px;
	padding: 0;
}

.settings .custom__select-title:hover {
	color: #36A9E1;
}

.settings .custom__select-title--grey {
	color: #aaa;
	cursor: pointer;
}

.settings .custom__select-title--grey:hover {
	color: #36A9E1;
}

.settings .custom__select-title--green {
	color: #219653;
	cursor: pointer;
}

.settings .custom__select-title--green:hover {
	color: #219653;
}

.settings .custom__select-title::before {
	background-image: none;
}

.settings .custom__select-text:not(:last-child) {
	margin-bottom: 0; 
}

.settings .custom__select-text {
	color: #333;
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	display: inline-block;
	padding: 5px;
	padding-bottom: 7px;
}

.settings .custom__select-text:hover {
	color: #333;
}

.settings .custom__select-text--grey {
	color: #aaa;
}

.settings .custom__select-text--grey:hover {
	color: #aaa;
}

.settings .custom__select-text--green {
	color: #219653;
}

.settings .custom__select-text--green:hover {
	color: #219653;
}

.settings__new {
	padding-top: 20px;
}

.settings__content-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 120%;
	color: #333333;
	padding-top: 4px;
	padding-bottom: 20px;
}

.settings__content-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	border: 1px solid rgba(255, 255, 255, 0);
	border-bottom:1px solid #F0F4FA;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 19px 12px;
}

/* .settings__content-item:last-child {
	border-bottom: none;
} */

.settings__content-item:hover {
	border: 1px solid #36A9E1;
}

.settings__content-text {
	font-weight: 400;
	font-size: 15px;
	line-height: 110%;
	color: #333;
}

.settings__content-text--name {
	width: 321px;
}

.settings__content-text--mail {
	width: 230px;
}

.settings__content-text--green {
	display: inline-block;
	color: #219653;
	cursor: pointer;
}

.settings__content-text--green:hover {
	color: #333;
}

.settings__content-delete {
	position: relative;
	cursor: pointer;
}

.settings__content-delete svg {
	position: absolute;
	top: 50%;
	right: 0px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 14px;
	height: 14px;
	fill: #B5B9BF;
}

.settings__content-delete:hover svg {
	fill: #CE0606;
}

.settings-password {
	cursor: pointer;
	border-bottom: 1px solid #36A9E1;
	color:#36A9E1;
	position: relative;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.settings-password:hover {
	border-bottom: none;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

.settings__btn-add {
	font-weight: 400;
	font-size: 18px;
	line-height: 110%;
	position: relative;
	margin-top: 20px;
}

.settings__btn-add span {
	font-weight: 300;
	font-size: 20px;
	line-height: 100%;
	color: #34C759;
	padding-left: 7px;
}

.settings__input-name {
	width: 290px;
	margin-bottom: 0px;
}

.settings__input-mail {
	width: 290px;
	margin-bottom: 0px;
}

.settings__input-password {
	width: 290px;
	margin-bottom: 0px;
}

.settings-dropdown {
	height: 25px!important;
	width: 92px;
	margin-right: 21px;
	background-color: #FFFFFF!important;
	border: none!important; 
	padding: 0px!important;
}

.settings__content-text--person {
	width: 132px;
}    

.settings__btn-add {
	position: relative;
}

.settings__btn-add svg {
	position: absolute;
	right: -25px;
	top: 50%;
	transform: translateY(-50%);
	width: 18px;
	height: 19px;
	fill:  #219653;
}

.settings__btn-add:hover svg {
	fill:  #333;
}

.settings__input-password--change {
	width: 168px;
}

.settings__new .requisites__form-name {
	width: 190px;
}