.sidebar {
}
@media (max-width: 540px) {
	.sidebar {
		width: 100%;
		padding-bottom: 0px;
		position: absolute;
		content: '';
		top: -30px;
		left: 0;
		z-index: 2;
		background-color: #fff;
	}
}

.sidebar__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 120%;
	color: #060300;
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;
}

@media (max-width: 540px) {
	.sidebar__title {
		display: none;
	}
}

.sidebar__title-category {
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #36A9E1;
	padding-bottom: 10px;
	position: relative;
}

.sidebar__element-wrapper {
}

.sidebar__element {
	margin-bottom: 15px;
	position: relative;
	cursor: pointer;
}

.sidebar__element-pad {
	padding-left: 20px;
}

@media (max-width: 540px) {
	.sidebar__element--mobile {
		padding-top: 15px;
		border-top: 1px solid #DEDEE6;
	}
}

@media(max-width: 540px) {
	.sidebar__element-filter {
		display: none;
	}

	.filter--active {
		display: block;
		padding-top: 20px;
		box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
		padding-left: 15px;
	}
}

@media (max-width: 540px) {
	.sidebar__element-wrapper {
		margin-top: 0;
	}
}

.sidebar__element-title {
	width: 100%;
	font-weight: 500;
	font-size: 16px;
	line-height: 120%;
	color: #36A9E1;
	margin-bottom: 20px;
	position: relative;
	cursor: pointer;
	display: inline-block;
}

.sidebar__element-title::before {
	content: '';
	position: absolute;
	top: 10px;
	right: 20px;
	width: 14px;
	background: #B5B9BF;
	transform: rotate(180deg)!important;
	border-radius: 2px;
	height: 2px;
}

.sidebar__element-title:hover::before {
	background: #36A9E1;
	transition: all .1s ease-in;
}

.sidebar__element-title::after {
	content: '';
	position: absolute;
	top: 4px;
	right: 26px;
	width: 2px;
	background: #B5B9BF;
	border-radius: 2px;
	height: 14px;
	display: none;
}

.sidebar__element-title:hover::after {
	background: #36A9E1;
	transition: all .1s ease-in;
}

.sidebar__element-wrapper .arrow--active::after {
	display: block;
}

@media (max-width: 540px) {
	.sidebar__element-title--mobile {
		background: #FFFFFF;
		border: 1px solid #F7F7F7;
		box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.03), 0px 2px 6px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.01);
		border-radius: 6px;
		font-weight: 600;
		font-size: 14px;
		line-height: 110%;
		color: #333333;
		padding: 15px;
		width: 100%;
		position: relative;
		margin-bottom: 0px;
		display: flex;
		justify-content: space-between;
		z-index: 99;
	}

	.sidebar__element-title--mobile::before {
		content: none;
 	}
	.sidebar__element-title--mobile::after {
		content: '';
		position: absolute;
		right: 15px;
		transform: rotate(90deg);
		width: 12px;
		height: 13px;
		background-image: url("/assets/icon/dropdown-arrow.svg");
		background-repeat: no-repeat;
	}

	.arrow--active {
		transform: rotate(0);
	}
}

@media (min-width: 541px) {
	.sidebar__element-title--mobile {
		display: none;
	}
}

.sidebar__element-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 300px;
}
.sidebar__element-link {
	color: #333333!important;
}

.sidebar__element-link:hover {
	color: #36A9E1!important;
	transition: all .1s ease-in;
}

.sidebar__element-label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
}

.sidebar__element-label:not(:last-child) {
	margin-bottom: 10px;
}

.sidebar__element-number {
	margin-right: 10px;
}

.sidebar__element-span {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #1F2937;
	width: 85%;
}

.sidebar__element-span span {
	color: #B5B9BF;
}

.sidebar__element-checkbox {
	margin-right: 9px;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px); 
}

.sidebar__element-link a {
	font-size: 12px;
	line-height: 120%;
	color: #333333;
	padding-bottom: 10px;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}

.sidebar__element-link a:hover {
	color:#36A9E1;
	text-decoration: underline;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}

.sidebar__element-link a:last-child {
	padding-bottom: 0px; 
}

.sidebar__result {
	font-size: 16px;
	line-height: 120%;
	color: #333333;
	padding-bottom: 15px;
}

.sidebar__nav {
	margin-top: 25px;
	margin-bottom:45px;
}

@media (max-width: 540px) {
	.sidebar__nav {
		display: none;
	} 
}

.sidebar__mobile {
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
	display: none;
	background-color: #fff;
}

@media (max-width: 540px) {
	.sidebar__mobile {
		display: block;
	} 
}

.sidebar__mobile-wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.sidebar__element-title--open {
	text-decoration: underline;
}

.filter-fixed {
	right: 0;
	left: 0;
}