.slider-content {
    /*width: 75.9%;*/
    width: 77.4%;
    padding-right: 32px;
}

@media(max-width: 2048px) {
    .slider-content {
        padding-right: 46px;   
    }
}

@media(max-width: 1800px) {
    .slider-content {
        padding-right: 36px; 
    }
}
  
@media(max-width: 1600px) {
    .slider-content {
        padding-right: 28px;  
    }
}

@media(max-width: 1500px) {
    .slider-content {
        padding-right: 21px;
    }
}
  
@media(max-width: 1300px) {
    .slider-content {
        padding-right: 13px;
    }
}
  
@media(max-width: 1140px) {
    .slider-content {
        padding-right: 19px;
    }
}

@media (max-width: 540px) {
    .slider-content {
      	width: 100%;
    	padding-right: 15px;
	} 
}