.subscribe {
	background: #1E4995;
}

@media (max-width: 540px) {
	.subscribe {
		background-size: cover;
		background-image: url("/assets/images/envelop-mobile.png");
	}
}

@media (max-width: 540px) {
	.subscribe {
		position: relative;
		padding-bottom: 32px;
	}
}

.subscribe__title {
	font-weight: 300;
	font-size: 48px;
	line-height: 120%;
	color: #fff;
	padding-bottom: 36px;
}

@media (max-width: 540px) {
	.subscribe__title {
		width: 50%;
		font-size: 24px;
		padding-top: 25px;
		z-index: 2;
	}
}

.subscribe__title span {
	font-weight: 500; 
}

.subscribe__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 540px) {
	.subscribe__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column; 
	} 
}

.subscribe__content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center; 
}

@media (max-width: 540px) {
	.subscribe__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		z-index: 2;
	}
}

.subscribe__content-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 120%;
	color: #9A9BBE;
	padding-right: 66px;
}

@media (max-width: 540px) {
	.subscribe__content-text {
		padding-bottom: 15px;
	}
}

.subscribe__input {
	width: 329px;
	border: 1px solid #9A9BBE;
	background-color: #1E4995;
	padding: 12px 25px 12px 25px;
	color: #F6F8FB;
}

@media (max-width: 540px) {
	.subscribe__input {
		width: 288px;
		margin: auto;
	}
}

.subscribe__input:focus {
	border: 1px solid #F6F8FB;
}

.subscribe__input::-webkit-input-placeholder {
	color: #9A9BBE; 
}

.subscribe__input::-moz-placeholder {
	color: #9A9BBE; 
}

.subscribe__input:-ms-input-placeholder {
	color: #9A9BBE; 
}

.subscribe__input::-ms-input-placeholder {
	color: #9A9BBE;
}

.subscribe__input::placeholder {
	color: #9A9BBE;
}

@media (max-width: 540px) {
	.subscribe__click {
		text-align: center;
	}
}

.subscribe__button {
	padding: 9px 24px 9px 24px;
	font-weight: 300;
	font-size: 16px;
	line-height: 150%;
	color: #1E4995;
	background-color: #F6F8FB;
	border: 1px solid #F6F8FB;
	cursor: pointer;
	position: relative;
	display: inline-block;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

@media (max-width: 540px) {
	.subscribe__button {
		padding: 10px 92px;
	}
}

.subscribe__button:hover {
	background-color: #1E4995;
	color: #F6F8FB;
	padding: 9px 24px 9px 24px;
	-webkit-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out; 
}

@media (max-width: 540px) {
	.subscribe__button:hover {
		padding: 10px 92px;
	} 
}

@media (max-width: 540px) {
	.subscribe__button-reload {
		padding: 10px 67px;
	}
}

@media (max-width: 540px) {
	.subscribe__image {
		display: none;
	}
}