.tooltip {
    z-index: 999999;
    display: none;
    padding: 11px;
    position: absolute !important;
    background: #FFFFFF;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    border: 1px solid #CECFCF;
    box-sizing: border-box;
    box-shadow: 0 16px 24px rgba(68, 68, 68, 0.08), 0 12px 12px rgba(68, 68, 68, 0.08);
    border-radius: 3px;
    width:200px;
}

.tooltip-wr {
    position: relative;
}

.tooltip__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}

.tooltip_left {
    top: 100px;
    left: 100px;
}

.tooltip-wr:hover .tooltip {
    display: block;
}