.watched .products__wrapper-hover {
	bottom: -26%;
}

.watched  .products__wrapper {
	width: 100%;
}

.watched  .card__buttons {
	width: 100%;
}

.watched  .button-buy {
	width: 100%;
}

.watched .button-buy span {
	text-align: center;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.watched .button-cart {
	width: 100%;
}

.watched .button-cart a {
	text-align: center;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.watched .button-card-more {
	bottom: -26%;
}

.watched .button-card-more {
	width: 100%;
}

.watched .button-card-more a {
	text-align: center;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.watched {
	position: relative;
	padding-bottom: 70px;
}

@media (max-width: 540px) {
	.watched {
		padding-top: 32px;
		padding-bottom: 32px;
	} 
}

@media (max-width: 540px) {
	.watched__product-card  {
		padding-top: 60px;
	}
}

.watched__wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between; 
}

.watched__container {
	overflow: hidden;
	width: 100%; 
	min-height: 360px;
}

@media (max-width: 540px) {
	.watched__container {
		width: 93%;
		margin: auto; 
	} 
}

.watched__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
	color: #333333;
	padding-bottom: 30px; 
}

@media (max-width: 540px) {
	.watched__title {
		font-size: 24px;
		padding-bottom: 24px; 
	} 
}

.watched__title span {
	font-weight: 500; 
}

.watched-button {
	width: 54px;
	height: 54px;
	position: absolute;
	z-index: 2;
	cursor: pointer;
	outline: none; 
}

.watched-button-prev {
	border: 1px solid rgba(1, 61, 177, 0.3);
	border-radius: 3px;
	padding-top: 13px;
	padding-left: 13px;
	padding-right: 15px;
	padding-bottom: 15px;
	top: 37%;
	left: 1%;
}

.watched-button-prev:hover {
	background: #013DB1;
}

.watched-button-prev svg {
	fill: #333333;
}

.watched-button-prev:hover svg {
	fill:#fff;
}

@media (max-width: 540px) {
	.watched-button-prev {
		left: 2%;
		top: 45%; 
	} 
}

.watched-button-next {
	border: 1px solid rgba(1, 61, 177, 0.3);
	border-radius: 3px;
	padding-top: 13px;
	padding-left: 15px;
	padding-right: 13px;
	padding-bottom: 15px;
	top: 37%;
	right: 1%;
}

.watched-button-next:hover {
	background: #013DB1;
}

.watched-button-next:hover svg {
	fill:#fff;
}

@media (max-width: 540px) {
	.watched-button-next {
		right: 2%;
		top: 45%;
	}
}

.watched-button-next svg {
	fill:#333333;
}
