* {
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
}

/* .main-section
    min-height: 1080px
    background: #1D4ED8
    margin-top: 21px */
