* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Semibold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

body {
  position: relative;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.banner {
  background: #1d2e89;
  margin-top: 24px;
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: 5fr 2fr 2fr 1fr;
  margin-bottom: 80px;
}

.banner__title {
  color: white;
  font-size: 70px;
  font-weight: 500;
  line-height: 86px;
  padding-left: 240px;
  max-width: 960px;
  font-family: 'Inter', sans-serif;
}

.banner__img1 {
  margin-top: 80px;
}

.banner__img2 {
  margin-top: 55px;
}

.banner__btn {
  color: #1d2e89;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  padding: 16px 32px;
  margin: 0 auto;
  transform: translate(0px, 125px);
  width: 198px;
  height: 48px;
  border-radius: 12px 6px 12px 6px;
  background: white;
  border: none;
  transition: all 0.2s ease-out;
}

.banner__btn:hover {
  background: #1d2e89;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 15px 31px;
}

.aboutsome-section {
  margin-bottom: 80px;
}

.aboutsome-section__title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 48px;
}

.aboutsome-section__block {
  display: flex;
}

.aboutsome-section__flex {
  display: flex;
  justify-content: space-between;
}

.aboutsome-section__card {
  border: 1px solid #dbdee2;
  border-radius: 24px 12px 24px 12px;
  background: white;
  margin-right: 24px;
  width: 100%;
}

.aboutsome-section__card:last-child {
  margin-right: 0;
}

.aboutsome-section__icon {
  padding: 16px 16px 4px 0;
}

.aboutsome-section__text {
  color: #1f2937;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding: 0 38px 38px 38px;
  margin-bottom: 0;
}

.moment-section {
  margin-bottom: 120px;
}

.moment-section__title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 48px;
}

.moment-section__block {
  display: flex;
}

.moment-section__flex {
  display: flex;
  justify-content: space-between;
}

.moment-section__card {
  border: 1px solid #dbdee2;
  border-radius: 24px 12px 24px 12px;
  background: white;
  margin-right: 24px;
  width: 100%;
  min-height: 280px;
}

.moment-section__card:last-child {
  margin-right: 0;
}

.moment-section__text {
  color: #455163;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-top: 36px;
  padding-left: 38px;
  padding-right: 15px;
}

.moment-section__img {
  padding-right: 20px;
}

.moment-section__imgc {
  width: 252px;
  height: 181px;
}
